option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"

container_commands:
  01_install_dependencies:
    command: "npm install --production --no-audit --no-fund"
    cwd: "/var/app/ondeck"
  02_build_typescript:
    command: "npm run build"
    cwd: "/var/app/ondeck"